@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Ubuntu, Open Sans, sans-serif;
    }
    body {
        font-family: Ubuntu, Open Sans, sans-serif;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.test span.foo:nth-last-of-type(1) {
    color: red;
}
